spring:
  datasource:
#    url: jdbc:derby://localhost:1527/derbydb;create=true
    url: jdbc:derby://localhost:1527/derbydb
    driver-class-name: org.apache.derby.jdbc.ClientDriver
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

---
profiles: mysql
spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/Test?user=root
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
        ddl-auto: none
    show-sql: true